<div class="create-post-container">
  <form class="create-post-form" [formGroup]="form">
    <div class="post-header">
      <mat-form-field class="post-field" appearance="fill">
        <mat-label>Post name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="post-field" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
            <mat-option *ngFor="let category of postCategoryList" [value]="category.postTypeId">
                {{category.name}}
              </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button >Create Post</button>
    </div>
   
    <div class="post-body">
      <div class="post-markdown">
        <mat-form-field appearance="fill">
          <mat-label>Post Content</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="body" class="variable-textarea">           
              </textarea>
          </mat-form-field>  
         <markdown class="variable-binding"  [data]="form.get('body').value"></markdown>
      </div>
       
    </div>

  </form>
</div>