.create-post-form {
    flex-wrap: wrap;
    margin-top: 10vh;
    height: 100%;
}

.post-field {
    width:30rem;
    padding: 5px;
    box-sizing: border-box;
}

.post-header{
  flex: 1;
}

.post-body{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.post-markdown{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.variable-binding {
    border: 1px solid white;
     width:50%; 
     margin-left:10%;
     background-color: white;
  }

  .variable-textarea {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.07);
    min-height: 420px;
    padding: 8px;
    width: 50%;
  }
  
.validation-button-row{
    display: inline-block;
    width:5rem;
    padding-left: 5px;
}

.validation-button-row > button{
  background-color: #673ab7;
  color: white;
}