.create-post-form {
    flex-wrap: wrap;
    margin-top: 10vh;
    height: 100%;
}

.post-field {
    width:30rem;
    padding: 5px;
    box-sizing: border-box;
}

.post-header{
  flex: 1;
}

.post-body{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.post-markdown{
    width: 50%;
    height: 100vh;
    margin: 5px;
}

.post-markdown> mat-form-field{
    width: 100%;
}

.post-markdown-output{
    width: 50%;
    margin: 5px;
}

.post-markdown-output> mat-form-field{
    width: 100%;
}

.validation-button-row{
    display: inline-block;
    width:5rem;
    padding-left: 5px;
}

.validation-button-row > button{
  background-color: #673ab7;
  color: white;
}