<header>
    <img class="logo" src="assets/images/" >
    <nav>
        <ul class="nav-links">
            <li><a [routerLink]="['/post']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Posts</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class="signin" *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']"><button class="sign-in">Sign In</button></a>
    <a class="profile" *ngIf="authService.isAuthenticated()" [routerLink]="['user/profile']"><button class="profile-button">{{authService.currentUser.firstName}}</button></a>
</header>