li,a,button{
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:whitesmoke;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    background-color: black;
    position: relative;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav-links{
  list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 50px;
 }

 .nav-links li > a.active{
     font-weight: 900;
 }

.nav-links li a {
   transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
   color: white;
 }
 
 .sign-in{
     padding: 9px 25px;
     background-color: black;
     border:none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }

 .sign-in:hover{
    background-color:black;
 }

 .profile-button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.profile-button:hover{
   background-color: rgba(0, 136, 169, 0.8);
}